<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="lib/materialize/css/font.css" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="lib/materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8">
        <title>MyBreakify{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
            <script>
                {% if error is defined %}
                    {% if error %}
                      M.toast({html: "{{ error.messageKey|trans(error.messageData, 'security') }}", classes: 'rounded lime accent-3 grey-text text-darken-4'});
                    {% endif %}
                {% endif %}
                {% if success is defined %}
                    {% if success %}
                        {% for success_m in success %}
                            M.toast({html: "{{ success_m }}", classes: 'rounded lime accent-3 grey-text text-darken-4'});
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if errors is defined %}
                    {% if errors %}
                        {% for error_m in errors %}
                            M.toast({html: "{{ error_m }}", classes: 'rounded red accent-3 white-text'});
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </script>
    </body>
</html>